[submodule "lab-01-lmoore36"]
	path = lab-01-lmoore36
	url = https://github.com/Comp211-FA24/lab-01-lmoore36.git
[submodule "lab-00-lmoore36"]
	path = lab-00-lmoore36
	url = https://github.com/Comp211-FA24/lab-00-lmoore36.git
[submodule "lab-02-lmoore36"]
	path = lab-02-lmoore36
	url = https://github.com/Comp211-FA24/lab-02-lmoore36.git
[submodule "learncli211"]
    path = learncli211
    url = https://github.com/comp211/learncli211.git
